body {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 50%;
}

.container {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  max-width: 800px;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
}

sup {
  color: hsl(228, 12%, 48%); 
  text-decoration: line-through; 
}

.section {
  display: flex;
  flex-direction: column;
}


p, h3, span {
  color:  hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color:  hsl(212, 21%, 14%);
  font-family: 'Fraunces', serif;
}

h2 {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
}